# Import Libraries

In [2]:
# Standard library imports
import os # allows access to OS-dependent functionalities
import sys # to manipulate different parts of the Python runtime environment
import math
import csv

# Libraries go get shop information
import requests  # for HTTP requests
from bs4 import BeautifulSoup # for HTML scrapping 

# Libraries to Generate random drivers information
import random
import string

import pandas as pd
import folium

# setting display options
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)

# Get the current working directory
cwd = os.getcwd()

# Add the path of the utils directory to sys.path
utils_path = os.path.abspath(os.path.join(cwd, '..', 'utils'))
sys.path.append(utils_path)

#Preparing folder variables

main_folder = os.path.abspath(os.path.join(os.pardir))
data_folder = (main_folder + "/" +"data")
saved_models_folder = (data_folder + "/" + "saved_models")
raw_data = (data_folder + "/" + "_raw")
processed_data = (data_folder + "/" + "processed")
content_based_supervised_data = (main_folder + "/" + "processed" + "/" + "content_based_supervised")

# Generating random drivers information about location

In [13]:
import random
import string

madrid_lat_bounds = (40.416775, 40.465) # latitude bounds of Madrid
madrid_lon_bounds = (-3.703790, -3.678419) # longitude bounds of Madrid

drivers_location = []

#  generate 50 records with driver_id, lat, and lon values
for i in range(1, 51):
    driver_id = ''.join(random.choice('0123456789ABCDEF') for j in range(4)) # generate 4 character random id
    lat = round(random.uniform(madrid_lat_bounds[0], madrid_lat_bounds[1]), 6)
    lon = round(random.uniform(madrid_lon_bounds[0], madrid_lon_bounds[1]), 6)
    disponibility = random.choice([True, False]) # randomly assign True or False to disponibility
    drivers_location.append({'driver_id': driver_id, 'lat': lat, 'lon': lon, 'disponibility': disponibility})


# open a CSV file in write mode
with open(raw_data + "/" + 'drivers_location.csv', mode='w', newline='') as file:

    # create a writer object
    writer = csv.writer(file)

    # write the header row
    writer.writerow(['driver_id', 'lat', 'lon','disponibility'])

    # write the data rows
    for address in drivers_location:
        writer.writerow([address['driver_id'], address['lat'], address['lon'], address['disponibility']])

In [26]:
# read the CSV file into a DataFrame
df_drivers = pd.read_csv(raw_data + "/" + "drivers_location.csv")

In [27]:
df_drivers.head(50)

   driver_id        lat       lon  disponibility
0       E5F9  40.455104 -3.680650           True
1       5EDA  40.429065 -3.691279           True
2       C6B7  40.416776 -3.691992           True
3       2CD7  40.448905 -3.691812           True
4       815B  40.436809 -3.696615           True
5       29A2  40.418351 -3.688199          False
6       9ECF  40.452772 -3.687252          False
7       2965  40.418179 -3.684902           True
8       840F  40.425157 -3.695811          False
9       7E80  40.430515 -3.697936           True
10      0BF3  40.445757 -3.688369           True
11      1EE3  40.426325 -3.680403           True
12      6B27  40.456589 -3.681333          False
13      8D31  40.431203 -3.680119           True
14      7E6E  40.459252 -3.691883          False
15      DC4E  40.419384 -3.684914           True
16      C513  40.425558 -3.702764          False
17      CB8D  40.419141 -3.696362          False
18      99F2  40.438257 -3.698947          False
19      C02A  40.457069 -3.701505          False
20      C658  40.435545 -3.693974           True
21      77BD  40.417389 -3.688061          False
22      7566  40.423425 -3.692196           True
23      B0A1  40.449758 -3.685382           True
24      E7F2  40.442424 -3.692404           True
25      1AC4  40.453802 -3.679769          False
26      B047  40.449280 -3.685577          False
27      642D  40.449235 -3.685298           True
28      EEC2  40.459039 -3.679905           True
29      EC3D  40.420989 -3.695299          False
30      9362  40.456130 -3.699251          False
31      E4AC  40.430515 -3.697936           True
32      5C56  40.464612 -3.700946           True
33      B14A  40.456469 -3.699407           True
34      3BEF  40.444966 -3.680161          False
35      CE8B  40.443904 -3.682920           True
36      5A75  40.428404 -3.687669          False
37      6CD9  40.422997 -3.684392           True
38      6303  40.458189 -3.698648           True
39      4EA0        NaN       NaN          False
40      1339  40.449734 -3.679472          False
41      97C6  40.453014 -3.698328          False
42      F0F1  40.432100 -3.683896          False
43      9E60  40.424634 -3.697090          False
44      8E49  40.428688 -3.690040           True
45      E019  40.438575 -3.691965          False
46      6744  40.430992 -3.685752          False
47      732A  40.431635 -3.684421          False
48      1A86  40.440934 -3.695109           True
49      81CC  40.457825 -3.686521          False

In [16]:
df_orders = pd.read_csv(raw_data + "/" + "orders.csv")

In [17]:
df_orders.columns

Index(['order_id', 'driver_id', 'restaurant_id', 'customer_name',
       'customer_address', 'order_time', 'delivery_time', 'total_amount',
       'order_status'],
      dtype='object')

In [ ]:
df_orders["driver_id"].unique()

In [179]:
df_drivers["driver_id"].unique()

array(['B402', '7EF0', '4820', 'B13D', '6B4A', '1CCF', '0749', '4805',
       '0CB4', 'D43B', 'CCE8', '39A4', '5951', 'C891', 'F6B6', 'DFC5',
       'AF40', '25A4', 'EEB2', '0F28', '765A', '7EA4', 'A8BC', '50A2',
       'ACA2', '48D7', '9AC7', 'F764', '8E9E', '6113', '93DF', '5052',
       'D456', '32C6', '5EDD', 'F30B', '4976', '11E2', '8954', '97FC',
       '64C1', 'A8EB', 'F1A4', '7079', '196B', '702B', 'DBD4', '5B9B',
       '98C0', '4699'], dtype=object)

In [6]:
df_shops = pd.read_csv(raw_data + "/" + "shops_location.csv")

In [7]:
df_shops.columns

Index(['id', 'name', 'category', 'formatted_address', 'latitude', 'longitude',
       'admin_region', 'locality', 'region'],
      dtype='object')

In [180]:
df_shops["id"].unique()

array(['4c321c9816adc9281693c19c', '593be9b516fa0435e49bbc2f',
       '4adcda36f964a5208b3b21e3', '4f6b0ec86b74877569ff1026',
       '4b953cc5f964a5200f9734e3', '5fa948caab654d07e1dbcc9b',
       '5004217de4b0524582e67aa0', '527d595411d2833c64f87ef7',
       '4adcda34f964a520073b21e3', '4adcda3bf964a5206a3d21e3',
       '50d41346e4b0f0bb6c158154', '4adcda39f964a520c13c21e3',
       '4bf852c05efe2d7fe7956a34', '4b71e2a6f964a52033622de3',
       '4adcda34f964a5202d3b21e3', '56745739498ea0db2b2e482a',
       '4b4e3e50f964a52097e626e3', '4cffc4d3ba1da1cddb118528',
       '595bc8e52bf9a971a2316f62', '59b4dd5da8eb604056db7ba6',
       '58ff9e7c6fd626300708b2ab', '4b45401af964a520150926e3',
       '4bab2fd1f964a52079983ae3', '4c9cdc768afca093b936f115',
       '58207d2b96b0d84ce7ab7b91', '4be6b9a9d4f7c9b6b4fd2620',
       '53ce8e61498e9707065bd96d', '59b3be7a9deb7d19c10eddc2',
       '4dfe6c56e4cd8e633feb8a26', '4b956ae6f964a52080a134e3',
       '4c0aaf20340720a1d1e48693', '5d065fab3f069d0023aa21ee',
       '5564344c498ead26929c9919', '4b7db2a1f964a52018cf2fe3',
       '4b688933f964a520827e2be3', '52f501e3498e2eb1dc055fe0',
       '4bcefa7068f976b0cbcc6683', '4bb39f2b42959c740d35222c',
       '4bf825cb4a67c9289cde24cf', '534ae3cf498e8c4e374a2d37',
       '4bd30ee041b9ef3bda22ffe5', '54a8494b498edea25d0cc4c0',
       '5c7879eb8194fc002c9f0ca0', '4b65ac89f964a520fef82ae3',
       '4c5030048edf0f479e49d5ae', '4c9e3d6d542b224b3c0df29f',
       '5375142f498efb5d19f0705c', '4adcda3af964a520353d21e3',
       '4af1d477f964a52096e321e3', '4b6ee7d1f964a52038d02ce3'],
      dtype=object)

# Getting Shops information using Foursquare API

In [120]:
import requests
category_id = 13000
lat = 40.41517
lng = -3.71273
limit = 50

url = "https://api.foursquare.com/v3/places/search?ll={}%2C{}&radius={}&categories={}&limit={}".format(
            lat, 
            lng,
            radius,
            category_id,
            limit)

headers = {
    "accept": "application/json",
    "Authorization": "fsq3/yhR0cDdx5Y/JGfd12cmI90pn5vnosARY51e1sPopbU="
}

response = requests.get(url, headers=headers).json()

#Creating the necessary lists
places_list = []
# Extract the relevant information from the response
places = response['results']
for place in places:
    places_dict = {"id" : place["fsq_id"],
                   "name" : place["name"],
                   "category" : place["categories"][-1]["name"],
                   "formatted_address" : place["location"]["formatted_address"],
                   "latitude" : place["geocodes"]["main"]["latitude"],
                   "longitude" : place["geocodes"]["main"]["longitude"],
                   "admin_region" : place["location"]["admin_region"],
                   "locality" : place["location"]["locality"],
                   "region" : place["location"]["region"]

                    }
    places_list.append(places_dict) # Append the loop info to anime_list
places_list

[{'id': '4c321c9816adc9281693c19c',
  'name': 'La Mayor',
  'category': 'Tapas Restaurant',
  'formatted_address': 'Calle Mayor, 77 (C. Bailén), 28013 Madrid Madrid',
  'latitude': 40.415106,
  'longitude': -3.712051,
  'admin_region': 'Comunidad de Madrid',
  'locality': 'Madrid',
  'region': 'Madrid'},
 {'id': '593be9b516fa0435e49bbc2f',
  'name': 'Zúccaru',
  'category': 'Italian Restaurant',
  'formatted_address': 'Calle Vergara, 16, 28013 Madrid Madrid',
  'latitude': 40.417227,
  'longitude': -3.711617,
  'admin_region': 'Comunidad de Madrid',
  'locality': 'Madrid',
  'region': 'Madrid'},
 {'id': '4adcda36f964a5208b3b21e3',
  'name': 'Corral de la Morería',
  'category': 'Spanish Restaurant',
  'formatted_address': 'Calle Morería, 17, 28005 Madrid Madrid',
  'latitude': 40.412736,
  'longitude': -3.714198,
  'admin_region': 'Comunidad de Madrid',
  'locality': 'Madrid',
  'region': 'Madrid'},
 {'id': '4f6b0ec86b74877569ff1026',
  'name': 'La Rebelión de los Mandiles',
  'category': 'Deli',
  'formatted_address': 'Calle Mayor, 88, 28013 Madrid Madrid',
  'latitude': 40.415218,
  'longitude': -3.713306,
  'admin_region': 'Comunidad de Madrid',
  'locality': 'Madrid',
  'region': 'Madrid'},
 {'id': '4b953cc5f964a5200f9734e3',
  'name': 'Restaurante Taberneros',
  'category': 'Spanish Restaurant',
  'formatted_address': 'Santiago, 9, 28013 Madrid Madrid',
  'latitude': 40.416388,
  'longitude': -3.710516,
  'admin_region': 'Comunidad de Madrid',
  'locality': 'Madrid',
  'region': 'Madrid'},
 {'id': '5fa948caab654d07e1dbcc9b',
  'name': 'Eatmytrip',
  'category': 'Breakfast Spot',
  'formatted_address': 'Calle de la Moreria, 11, 28005 Madrid Madrid',
  'latitude': 40.413015,
  'longitude': -3.713515,
  'admin_region': 'Comunidad de Madrid',
  'locality': 'Madrid',
  'region': 'Madrid'},
 {'id': '5004217de4b0524582e67aa0',
  'name': 'Amorino',
  'category': 'Restaurant',
  'formatted_address': 'Calle Mayor, 40, 28013 Madrid Madrid',
  'latitude': 40.416157,
  'longitude': -3.70847,
  'admin_region': 'Comunidad de Madrid',
  'locality': 'Madrid',
  'region': 'Madrid'},
 {'id': '527d595411d2833c64f87ef7',
  'name': 'El Pimiento Verde',
  'category': 'Spanish Restaurant',
  'formatted_address': 'Calle Conde de Miranda, 4, 28005 Madrid Madrid',
  'latitude': 40.414971,
  'longitude': -3.709353,
  'admin_region': 'Comunidad de Madrid',
  'locality': 'Madrid',
  'region': 'Madrid'},
 {'id': '4adcda34f964a520073b21e3',
  'name': 'Casa Lucas',
  'category': 'Tapas Restaurant',
  'formatted_address': 'Calle Cava Baja, 30, 28005 Madrid Madrid',
  'latitude': 40.412369,
  'longitude': -3.709453,
  'admin_region': 'Comunidad de Madrid',
  'locality': 'Madrid',
  'region': 'Madrid'},
 {'id': '4adcda3bf964a5206a3d21e3',
  'name': 'Casa Lucio',
  'category': 'Tapas Restaurant',
  'formatted_address': 'Calle Cava Baja, 35, 28005 Madrid Madrid',
  'latitude': 40.412107,
  'longitude': -3.70964,
  'admin_region': 'Comunidad de Madrid',
  'locality': 'Madrid',
  'region': 'Madrid'},
 {'id': '50d41346e4b0f0bb6c158154',
  'name': "Artesa D' Agramunt",
  'category': 'Pastry Shop',
  'formatted_address': 'Madrid Madrid',
  'latitude': 40.415966,
  'longitude': -3.708168,
  'admin_region': 'Comunidad de Madrid',
  'locality': 'Madrid',
  'region': 'Madrid'},
 {'id': '4adcda39f964a520c13c21e3',
  'name': 'Can Punyetes',
  'category': 'Spanish Restaurant',
  'formatted_address': 'Señores de Luzón, 5, 28013 Madrid Madrid',
  'latitude': 40.415887,
  'longitude': -3.710727,
  'admin_region': 'Comunidad de Madrid',
  'locality': 'Madrid',
  'region': 'Madrid'},
 {'id': '4bf852c05efe2d7fe7956a34',
  'name': 'La Perejila',
  'category': 'Tapas Restaurant',
  'formatted_address': 'Calle Cava Baja, 25, 28005 Madrid Madrid',
  'latitude': 40.412444,
  'longitude': -3.709345,
  'admin_region': 'Comunidad de Madrid',
  'locality': 'Madrid',
  'region': 'Madrid'},
 {'id': '4b71e2a6f964a52033622de3',
  'name': 'Las Carboneras',
  'category': 'Spanish Restaurant',
  'formatted_address': 'Plaza del Conde de Miranda, 1, 28005 Madrid Madrid',
  'latitude': 40.414744,
  'longitude': -3.709295,
  'admin_region': 'Comunidad de Madrid',
  'locality': 'Madrid',
  'region': 'Madrid'},
 {'id': '4adcda34f964a5202d3b21e3',
  'name': 'Café de Oriente',
  'category': 'Tapas Restaurant',
  'formatted_address': 'Plaza de Oriente, 2, 28013 Madrid Madrid',
  'latitude': 40.417654,
  'longitude': -3.711514,
  'admin_region': 'Comunidad de Madrid',
  'locality': 'Madrid',
  'region': 'Madrid'},
 {'id': '56745739498ea0db2b2e482a',
  'name': 'Santa Eulalia Boulangerie Patisserie',
  'category': 'Pie Shop',
  'formatted_address': 'Calle Espejo, 12, 28013 Madrid Madrid',
  'latitude': 40.417223,
  'longitude': -3.709629,
  'admin_region': 'Comunidad de Madrid',
  'locality': 'Opera',
  'region': 'Madrid'},
 {'id': '4b4e3e50f964a52097e626e3',
  'name': 'Restaurante Botín',
  'category': 'Spanish Restaurant',
  'formatted_address': 'Calle Cuchilleros, 17, 28005 Madrid Madrid',
  'latitude': 40.414054,
  'longitude': -3.707978,
  'admin_region': 'Comunidad de Madrid',
  'locality': 'Madrid',
  'region': 'Madrid'},
 {'id': '4cffc4d3ba1da1cddb118528',
  'name': 'Mi Ciudad I',
  'category': 'Mexican Restaurant',
  'formatted_address': 'Calle Fuentes, 11, 28013 Madrid Madrid',
  'latitude': 40.417553,
  'longitude': -3.708571,
  'admin_region': 'Comunidad de Madrid',
  'locality': 'Madrid',
  'region': 'Madrid'},
 {'id': '595bc8e52bf9a971a2316f62',
  'name': 'Zen Zoo',
  'category': 'Bubble Tea Shop',
  'formatted_address': 'Calle Mayor, 26, 28013 Madrid Madrid',
  'latitude': 40.416336,
  'longitude': -3.707246,
  'admin_region': 'Comunidad de Madrid',
  'locality': 'Madrid',
  'region': 'Madrid'},
 {'id': '59b4dd5da8eb604056db7ba6',
  'name': 'Amicis',
  'category': 'Tapas Restaurant',
  'formatted_address': 'Plaza del Conde de Miranda, 4, 28005 Madrid Madrid',
  'latitude': 40.414959,
  'longitude': -3.709434,
  'admin_region': 'Comunidad de Madrid',
  'locality': 'Madrid',
  'region': 'Madrid'},
 {'id': '58ff9e7c6fd626300708b2ab',
  'name': 'Federal Café 2',
  'category': 'Café',
  'formatted_address': 'Plaza Conde de Barajas, 3, 28005 Madrid Madrid',
  'latitude': 40.41446,
  'longitude': -3.708774,
  'admin_region': 'Comunidad de Madrid',
  'locality': 'Madrid',
  'region': 'Madrid'},
 {'id': '4b45401af964a520150926e3',
  'name': 'Juana la Loca',
  'category': 'Tapas Restaurant',
  'formatted_address': 'Plaza Puerta de Moros, 4 (Cava Baja), 28005 Madrid Madrid',
  'latitude': 40.411314,
  'longitude': -3.711046,
  'admin_region': 'Comunidad de Madrid',
  'locality': 'Madrid',
  'region': 'Madrid'},
 {'id': '4bab2fd1f964a52079983ae3',
  'name': 'La Musa Latina',
  'category': 'Tapas Restaurant',
  'formatted_address': 'Costanilla de San Andrés, 12, 28005 Madrid Madrid',
  'latitude': 40.412717,
  'longitude': -3.71191,
  'admin_region': 'Comunidad de Madrid',
  'locality': 'Madrid',
  'region': 'Madrid'},
 {'id': '4c9cdc768afca093b936f115',
  'name': 'La Campana',
  'category': 'Tapas Restaurant',
  'formatted_address': 'Calle Botoneras, 6, 28012 Madrid Madrid',
  'latitude': 40.414862,
  'longitude': -3.706872,
  'admin_region': 'Comunidad de Madrid',
  'locality': 'Madrid',
  'region': 'Madrid'},
 {'id': '58207d2b96b0d84ce7ab7b91',
  'name': 'Sarang Bang',
  'category': 'Korean Restaurant',
  'formatted_address': 'Calle Unión, 3, Madrid Madrid',
  'latitude': 40.41722,
  'longitude': -3.710457,
  'admin_region': 'Comunidad de Madrid',
  'locality': 'Madrid',
  'region': 'Madrid'},
 {'id': '4be6b9a9d4f7c9b6b4fd2620',
  'name': 'Sanlúcar',
  'category': 'Tapas Restaurant',
  'formatted_address': 'San Isidro Labrador, 14 (C. Carrera de San Francisco), 28005 Madrid Madrid',
  'latitude': 40.411005,
  'longitude': -3.713166,
  'admin_region': 'Comunidad de Madrid',
  'locality': 'Madrid',
  'region': 'Madrid'},
 {'id': '53ce8e61498e9707065bd96d',
  'name': 'Ramen Kagura',
  'category': 'Ramen Restaurant',
  'formatted_address': 'Calle de las Fuentes, 1 (Arenal), 28013 Madrid Madrid',
  'latitude': 40.416751,
  'longitude': -3.708832,
  'admin_region': 'Comunidad de Madrid',
  'locality': 'Madrid',
  'region': 'Madrid'},
 {'id': '59b3be7a9deb7d19c10eddc2',
  'name': 'Pez Tortilla',
  'category': 'Tapas Restaurant',
  'formatted_address': 'Calle Cava Baja, 42, 28005 Madrid Madrid',
  'latitude': 40.411863,
  'longitude': -3.710509,
  'admin_region': 'Comunidad de Madrid',
  'locality': 'Madrid',
  'region': 'Madrid'},
 {'id': '4dfe6c56e4cd8e633feb8a26',
  'name': 'El miniBAR',
  'category': 'Tapas Restaurant',
  'formatted_address': 'Calle Mesón de Paños, 1, 28013 Madrid Madrid',
  'latitude': 40.41634,
  'longitude': -3.709235,
  'admin_region': 'Comunidad de Madrid',
  'locality': 'Madrid',
  'region': 'Madrid'},
 {'id': '4b956ae6f964a52080a134e3',
  'name': 'La Fontanilla',
  'category': 'Tapas Restaurant',
  'formatted_address': 'Plaza Puerta Cerrada, 13 (Calle Segovia), 28005 Madrid Madrid',
  'latitude': 40.413881,
  'longitude': -3.708357,
  'admin_region': 'Comunidad de Madrid',
  'locality': 'Madrid',
  'region': 'Madrid'},
 {'id': '4c0aaf20340720a1d1e48693',
  'name': 'Rasputín',
  'category': 'Russian Restaurant',
  'formatted_address': 'Calle Yeseros, 2, 28005 Madrid Madrid',
  'latitude': 40.412139,
  'longitude': -3.713454,
  'admin_region': 'Comunidad de Madrid',
  'locality': 'Madrid',
  'region': 'Madrid'},
 {'id': '5d065fab3f069d0023aa21ee',
  'name': 'Steakburger Arenal',
  'category': 'Burger Joint',
  'formatted_address': 'Calle del Arenal, 26, 28013 Madrid Madrid',
  'latitude': 40.417902,
  'longitude': -3.708194,
  'admin_region': 'Comunidad de Madrid',
  'locality': 'Madrid',
  'region': 'Madrid'},
 {'id': '5564344c498ead26929c9919',
  'name': 'La Rollerie',
  'category': 'Breakfast Spot',
  'formatted_address': 'Calle Mayor, 24 (Coloreros 3), 28013 Madrid Madrid',
  'latitude': 40.416347,
  'longitude': -3.707165,
  'admin_region': 'Comunidad de Madrid',
  'locality': 'Madrid',
  'region': 'Madrid'},
 {'id': '4b7db2a1f964a52018cf2fe3',
  'name': 'ContraClub',
  'category': 'Bar',
  'formatted_address': 'Bailén, 16, 28005 Madrid Madrid',
  'latitude': 40.412596,
  'longitude': -3.713951,
  'admin_region': 'Comunidad de Madrid',
  'locality': 'Madrid',
  'region': 'Madrid'},
 {'id': '4b688933f964a520827e2be3',
  'name': 'La Mordida',
  'category': 'Mexican Restaurant',
  'formatted_address': 'Calle de las Fuentes, 3, 28013 Madrid Madrid',
  'latitude': 40.416939,
  'longitude': -3.708753,
  'admin_region': 'Comunidad de Madrid',
  'locality': 'Madrid',
  'region': 'Madrid'},
 {'id': '52f501e3498e2eb1dc055fe0',
  'name': 'Gayagum',
  'category': 'Korean Restaurant',
  'formatted_address': 'Calle Bordadores, 7, 28013 Madrid Madrid',
  'latitude': 40.416816,
  'longitude': -3.70758,
  'admin_region': 'Comunidad de Madrid',
  'locality': 'Madrid',
  'region': 'Madrid'},
 {'id': '4bcefa7068f976b0cbcc6683',
  'name': 'Taquería Mi Ciudad',
  'category': 'Taco Restaurant',
  'formatted_address': 'Calle de las Hileras, 5, 28013 Madrid Madrid',
  'latitude': 40.417049,
  'longitude': -3.7084,
  'admin_region': 'Comunidad de Madrid',
  'locality': 'Madrid',
  'region': 'Madrid'},
 {'id': '4bb39f2b42959c740d35222c',
  'name': 'El Chaparrito',
  'category': 'Tapas Restaurant',
  'formatted_address': 'Calle Mayor, 68, 28013 Madrid Madrid',
  'latitude': 40.415669,
  'longitude': -3.710207,
  'admin_region': 'Comunidad de Madrid',
  'locality': 'Madrid',
  'region': 'Madrid'},
 {'id': '4bf825cb4a67c9289cde24cf',
  'name': 'El Ventorrillo',
  'category': 'Spanish Restaurant',
  'formatted_address': 'Calle de Bailén, 14 (C/ de la Morería), 28005 Madrid Madrid',
  'latitude': 40.412772,
  'longitude': -3.713953,
  'admin_region': 'Comunidad de Madrid',
  'locality': 'Madrid',
  'region': 'Madrid'},
 {'id': '534ae3cf498e8c4e374a2d37',
  'name': 'La Taberna de Ramales',
  'category': 'Spanish Restaurant',
  'formatted_address': 'Plaza de San Juan, 2, 28013 Madrid Madrid',
  'latitude': 40.416505,
  'longitude': -3.710926,
  'admin_region': 'Comunidad de Madrid',
  'locality': 'Madrid',
  'region': 'Madrid'},
 {'id': '4bd30ee041b9ef3bda22ffe5',
  'name': 'La Taqueria de Birra',
  'category': 'Taco Restaurant',
  'formatted_address': 'Calle Don Pedro, 11, 28005 Madrid Madrid',
  'latitude': 40.411611,
  'longitude': -3.713447,
  'admin_region': 'Comunidad de Madrid',
  'locality': 'Madrid',
  'region': 'Madrid'},
 {'id': '54a8494b498edea25d0cc4c0',
  'name': 'La Lonja',
  'category': 'Tapas Restaurant',
  'formatted_address': 'Plaza de Oriente, 6, 28013 Madrid Madrid',
  'latitude': 40.418644,
  'longitude': -3.711174,
  'admin_region': 'Comunidad de Madrid',
  'locality': 'Madrid',
  'region': 'Madrid'},
 {'id': '5c7879eb8194fc002c9f0ca0',
  'name': 'La Osita',
  'category': 'Beer Bar',
  'formatted_address': 'Calle de la Cava Baja, 10, 28005 Madrid Madrid',
  'latitude': 40.413258,
  'longitude': -3.708466,
  'admin_region': 'Comunidad de Madrid',
  'locality': 'Madrid',
  'region': 'Madrid'},
 {'id': '4b65ac89f964a520fef82ae3',
  'name': 'El Ñeru',
  'category': 'Tapas Restaurant',
  'formatted_address': 'Calle Bordadores, 5, 28013 Madrid Madrid',
  'latitude': 40.416679,
  'longitude': -3.707714,
  'admin_region': 'Comunidad de Madrid',
  'locality': 'Madrid',
  'region': 'Madrid'},
 {'id': '4c5030048edf0f479e49d5ae',
  'name': 'Taberna de la Daniela',
  'category': 'Tapas Restaurant',
  'formatted_address': 'Calle de los Cuchilleros, 9, 28005 Madrid Madrid',
  'latitude': 40.414418,
  'longitude': -3.707901,
  'admin_region': 'Comunidad de Madrid',
  'locality': 'Madrid',
  'region': 'Madrid'},
 {'id': '4c9e3d6d542b224b3c0df29f',
  'name': 'The Cavern',
  'category': 'Bar',
  'formatted_address': 'Calle Santiago (C. Costanilla de Santiago), 28013 Madrid Madrid',
  'latitude': 40.416081,
  'longitude': -3.709804,
  'admin_region': 'Comunidad de Madrid',
  'locality': 'Madrid',
  'region': 'Madrid'},
 {'id': '5375142f498efb5d19f0705c',
  'name': 'Off de la Latina',
  'category': 'Bar',
  'formatted_address': 'Calle Mancebos, 4, 28005 Madrid Madrid',
  'latitude': 40.412126,
  'longitude': -3.711929,
  'admin_region': 'Comunidad de Madrid',
  'locality': 'Madrid',
  'region': 'Madrid'},
 {'id': '4adcda3af964a520353d21e3',
  'name': 'Casa Ciriaco',
  'category': 'Spanish Restaurant',
  'formatted_address': 'Calle Mayor, 84, 28013 Madrid Madrid',
  'latitude': 40.415298,
  'longitude': -3.712354,
  'admin_region': 'Comunidad de Madrid',
  'locality': 'Madrid',
  'region': 'Madrid'},
 {'id': '4af1d477f964a52096e321e3',
  'name': 'Julián de Tolosa',
  'category': 'Spanish Restaurant',
  'formatted_address': 'Calle Cava Baja, 18, 28005 Madrid Madrid',
  'latitude': 40.412867,
  'longitude': -3.708861,
  'admin_region': 'Comunidad de Madrid',
  'locality': 'Madrid',
  'region': 'Madrid'},
 {'id': '4b6ee7d1f964a52038d02ce3',
  'name': 'Lamiak',
  'category': 'Tapas Restaurant',
  'formatted_address': 'Calle Cava Baja, 42, 28005 Madrid Madrid',
  'latitude': 40.411925,
  'longitude': -3.710482,
  'admin_region': 'Comunidad de Madrid',
  'locality': 'Madrid',
  'region': 'Madrid'}]

In [127]:
# open a CSV file in write mode
with open(raw_data + "/" + 'shops_location.csv', mode='w', newline='') as file:

    # create a writer object
    writer = csv.writer(file)

    # write the header row
    writer.writerow(['id', 'name', 'category','formatted_address','latitude','longitude','admin_region','locality','region'])

    # write the data rows
    for place in places_list:
        writer.writerow([place['id'], place['name'], place['category'], place['formatted_address'], place['latitude'], place['longitude'], place['admin_region'], place['locality'], place['region']])

In [129]:
# read the CSV file into a DataFrame
df_shops = pd.read_csv(raw_data + "/" + "shops_location.csv")
df_shops.head(2)

,id,name,category,formatted_address,latitude,longitude,admin_region,locality,region
0,4c321c9816adc9281693c19c,La Mayor,Tapas Restaurant,"Calle Mayor, 77 (C. Bailén), 28013 Madrid Madrid",40.415106,-3.712051,Comunidad de Madrid,Madrid,Madrid
1,593be9b516fa0435e49bbc2f,Zúccaru,Italian Restaurant,"Calle Vergara, 16, 28013 Madrid Madrid",40.417227,-3.711617,Comunidad de Madrid,Madrid,Madrid

# Creating orders_table

In [32]:
import pandas as pd
import numpy as np

names = ['Emma', 'Liam', 'Olivia', 'Noah', 'Ava', 'Ethan', 'Isabella', 
         'James', 'Sophia', 'Mason', 'Mia', 'Alexander', 'Charlotte', 
         'William', 'Amelia', 'Michael', 'Harper', 'Benjamiformulas.n', 'Evelyn', 
         'Elijah', 'Abigail', 'Daniel', 'Emily', 'Matthew', 'Ella', 'Aiden', 
         'Elizabeth', 'David', 'Camila', 'Joseph', 'Chloe', 'Jackson', 'Victoria', 
         'Samuel', 'Grace', 'Lucas', 'Avery', 'Caleb', 'Sofia', 'Owen', 'Aria', 
         'Logan', 'Scarlett', 'Gabriel', 'Madison', 'Julian', 'Lily', 'Isaac', 
         'Eleanor', 'Levi', 'Hannah']

addresses = [
    "Calle de Alcalá, 123, 28009 Madrid",
    "Calle de Atocha, 14, 28012 Madrid",
    "Calle de Serrano, 24, 28001 Madrid",
    "Calle de Gran Vía, 1, 28013 Madrid",
    "Calle de Goya, 12, 28001 Madrid",
    "Paseo de la Castellana, 200, 28046 Madrid",
    "Calle de Preciados, 1, 28013 Madrid",
    "Plaza Mayor, s/n, 28012 Madrid",
    "Calle de Fuencarral, 53, 28004 Madrid",
    "Calle de la Princesa, 53, 28008 Madrid",
    "Calle de Hortaleza, 100, 28004 Madrid",
    "Calle de Bravo Murillo, 377, 28020 Madrid",
    "Calle de Velázquez, 150, 28002 Madrid",
    "Calle de la Montera, 24, 28013 Madrid",
    "Calle de Orense, 70, 28020 Madrid",
    "Calle de Alfonso XII, 3, 28014 Madrid",
    "Paseo de la Habana, 24, 28036 Madrid",
    "Calle del Carmen, 2, 28013 Madrid",
    "Calle de Don Ramón de la Cruz, 26, 28001 Madrid",
    "Calle del Pez, 27, 28004 Madrid",
    "Calle de Pradillo, 22, 28002 Madrid",
    "Calle de Segovia, 17, 28005 Madrid",
    "Calle de Sainz de Baranda, 39, 28009 Madrid",
    "Calle de López de Hoyos, 327, 28043 Madrid",
    "Calle de la Victoria, 5, 28012 Madrid",
    "Calle de la Princesa, 3, 28008 Madrid",
    "Calle de los Madrazo, 11, 28014 Madrid",
    "Calle de San Bernardo, 103, 28015 Madrid",
    "Calle de San Bernardo, 38, 28015 Madrid",
    "Calle de María de Molina, 20, 28006 Madrid",
    "Calle de Ibiza, 38, 28009 Madrid",
    "Calle del Marqués de Urquijo, 4, 28008 Madrid",
    "Calle de Bailén, 9, 28013 Madrid",
    "Calle de José Ortega y Gasset, 40, 28006 Madrid",
    "Calle de Génova, 11, 28004 Madrid",
    "Calle de Zurbano, 26, 28010 Madrid",
    "Calle de la Reina, 15, 28004 Madrid",
    "Calle de Alcalá, 57, 28014 Madrid",
    "Calle de Toledo, 46, 28005 Madrid",
    "Calle de Arturo Soria, 126, 28043 Madrid",
    "Calle del Príncipe de Vergara, 211, 28002 Madrid",
    "Calle de Alcalá, 203, 28028 Madrid",
    "Calle de Marqués de Lema, 7, 28028 Madrid"]

# create a list of driver IDs and restaurant IDs
driver_ids = ['B402', '7EF0', '4820', 'B13D', '6B4A', '1CCF', '0749', '4805',
              '0CB4', 'D43B', 'CCE8', '39A4', '5951', 'C891', 'F6B6', 'DFC5',
              'AF40', '25A4', 'EEB2', '0F28', '765A', '7EA4', 'A8BC', '50A2',
              'ACA2', '48D7', '9AC7', 'F764', '8E9E', '6113', '93DF', '5052',
              'D456', '32C6', '5EDD', 'F30B', '4976', '11E2', '8954', '97FC',
              '64C1', 'A8EB', 'F1A4', '7079', '196B', '702B', 'DBD4', '5B9B',
              '98C0', '4699']

restaurant_ids = ['4c321c9816adc9281693c19c', '593be9b516fa0435e49bbc2f',
       '4adcda36f964a5208b3b21e3', '4f6b0ec86b74877569ff1026',
       '4b953cc5f964a5200f9734e3', '5fa948caab654d07e1dbcc9b',
       '5004217de4b0524582e67aa0', '527d595411d2833c64f87ef7',
       '4adcda34f964a520073b21e3', '4adcda3bf964a5206a3d21e3',
       '50d41346e4b0f0bb6c158154', '4adcda39f964a520c13c21e3',
       '4bf852c05efe2d7fe7956a34', '4b71e2a6f964a52033622de3',
       '4adcda34f964a5202d3b21e3', '56745739498ea0db2b2e482a',
       '4b4e3e50f964a52097e626e3', '4cffc4d3ba1da1cddb118528',
       '595bc8e52bf9a971a2316f62', '59b4dd5da8eb604056db7ba6',
       '58ff9e7c6fd626300708b2ab', '4b45401af964a520150926e3',
       '4bab2fd1f964a52079983ae3', '4c9cdc768afca093b936f115',
       '58207d2b96b0d84ce7ab7b91', '4be6b9a9d4f7c9b6b4fd2620',
       '53ce8e61498e9707065bd96d', '59b3be7a9deb7d19c10eddc2',
       '4dfe6c56e4cd8e633feb8a26', '4b956ae6f964a52080a134e3',
       '4c0aaf20340720a1d1e48693', '5d065fab3f069d0023aa21ee',
       '5564344c498ead26929c9919', '4b7db2a1f964a52018cf2fe3',
       '4b688933f964a520827e2be3', '52f501e3498e2eb1dc055fe0',
       '4bcefa7068f976b0cbcc6683', '4bb39f2b42959c740d35222c',
       '4bf825cb4a67c9289cde24cf', '534ae3cf498e8c4e374a2d37',
       '4bd30ee041b9ef3bda22ffe5', '54a8494b498edea25d0cc4c0',
       '5c7879eb8194fc002c9f0ca0', '4b65ac89f964a520fef82ae3',
       '4c5030048edf0f479e49d5ae', '4c9e3d6d542b224b3c0df29f',
       '5375142f498efb5d19f0705c', '4adcda3af964a520353d21e3',
       '4af1d477f964a52096e321e3', '4b6ee7d1f964a52038d02ce3']

# generate 20 random records
np.random.seed(123)
order_table = pd.DataFrame({
    'order_id': np.arange(100),
    'driver_id': np.random.choice(driver_ids, 100),
    'restaurant_id': np.random.choice(restaurant_ids, 100),
    'customer_name': np.random.choice(names, 100),
    'customer_address': np.random.choice(addresses, 100),
    'order_time': pd.date_range(start='2022-01-01', periods=100, freq='H'),
    'delivery_time': pd.date_range(start='2022-01-01 01:00', periods=100, freq='H'),
    'total_amount': np.random.uniform(10, 50, 100),
    'order_status': np.random.choice(['delivered'], 100)
})

# display the resulting dataframe
order_table.head()

,order_id,driver_id,restaurant_id,customer_name,customer_address,order_time,delivery_time,total_amount,order_status
0,0,702B,5004217de4b0524582e67aa0,Camila,"Calle de Atocha, 14, 28012 Madrid",2022-01-01 00:00:00,2022-01-01 01:00:00,47.864836,delivered
1,1,4820,4adcda3bf964a5206a3d21e3,Alexander,"Calle de Génova, 11, 28004 Madrid",2022-01-01 01:00:00,2022-01-01 02:00:00,46.529250,delivered
2,2,8E9E,4c9cdc768afca093b936f115,Mia,"Calle de Marqués de Lema, 7, 28028 Madrid",2022-01-01 02:00:00,2022-01-01 03:00:00,12.050196,delivered
3,3,5EDD,4adcda34f964a5202d3b21e3,Noah,"Calle de Don Ramón de la Cruz, 26, 28001 Madrid",2022-01-01 03:00:00,2022-01-01 04:00:00,25.212619,delivered
4,4,8954,4bf825cb4a67c9289cde24cf,Julian,"Calle de Arturo Soria, 126, 28043 Madrid",2022-01-01 04:00:00,2022-01-01 05:00:00,32.554262,delivered

In [33]:
# create the DataFrame
df = pd.DataFrame(order_table)
df.head(2)

,order_id,driver_id,restaurant_id,customer_name,customer_address,order_time,delivery_time,total_amount,order_status
0,0,702B,5004217de4b0524582e67aa0,Camila,"Calle de Atocha, 14, 28012 Madrid",2022-01-01 00:00:00,2022-01-01 01:00:00,47.864836,delivered
1,1,4820,4adcda3bf964a5206a3d21e3,Alexander,"Calle de Génova, 11, 28004 Madrid",2022-01-01 01:00:00,2022-01-01 02:00:00,46.529250,delivered

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          100 non-null    int64
 1   driver_id         100 non-null    object
 2   restaurant_id     100 non-null    object
 3   customer_name     100 non-null    object
 4   customer_address  100 non-null    object
 5   order_time        100 non-null    datetime64[ns]
 6   delivery_time     100 non-null    datetime64[ns]
 7   total_amount      100 non-null    float64
 8   order_status      100 non-null    object
dtypes: datetime64[ns](2), float64(1), int64(1), object(5)
memory usage: 7.2+ KB

In [35]:
# Save the dataframe as CSV
df.to_csv(raw_data + "/" + 'orders.csv', index=False)

# Practizing location

In [161]:
# read the drivers_location CSV file into a DataFrame 
df_drivers = pd.read_csv(raw_data + "/" + "drivers_location.csv")
df_drivers.head(5)

  driver_id        lat       lon  disponibility
0      A8EB  40.291556 -3.629250           True
1      DFC5  40.339510 -3.741539           True
2      B13D  40.448745 -3.693041          False
3      ACA2  40.349852 -3.612646           True
4      32C6  40.300321 -3.716476           True

In [168]:
df_shops = pd.read_csv(raw_data + "/" + "shops_location.csv")
df_shops.head()

,id,name,category,formatted_address,latitude,longitude,admin_region,locality,region
0,4c321c9816adc9281693c19c,La Mayor,Tapas Restaurant,"Calle Mayor, 77 (C. Bailén), 28013 Madrid Madrid",40.415106,-3.712051,Comunidad de Madrid,Madrid,Madrid
1,593be9b516fa0435e49bbc2f,Zúccaru,Italian Restaurant,"Calle Vergara, 16, 28013 Madrid Madrid",40.417227,-3.711617,Comunidad de Madrid,Madrid,Madrid
2,4adcda36f964a5208b3b21e3,Corral de la Morería,Spanish Restaurant,"Calle Morería, 17, 28005 Madrid Madrid",40.412736,-3.714198,Comunidad de Madrid,Madrid,Madrid
3,4f6b0ec86b74877569ff1026,La Rebelión de los Mandiles,Deli,"Calle Mayor, 88, 28013 Madrid Madrid",40.415218,-3.713306,Comunidad de Madrid,Madrid,Madrid
4,4b953cc5f964a5200f9734e3,Restaurante Taberneros,Spanish Restaurant,"Santiago, 9, 28013 Madrid Madrid",40.416388,-3.710516,Comunidad de Madrid,Madrid,Madrid

In [172]:
df_drivers = pd.read_csv(raw_data + "/" + "drivers_location.csv")
df_drivers.columns

Index(['driver_id', 'lat', 'lon', 'disponibility'], dtype='object')

In [173]:
df_shops = pd.read_csv(raw_data + "/" + "shops_location.csv")
df_shops.columns

Index(['id', 'name', 'category', 'formatted_address', 'latitude', 'longitude',
       'admin_region', 'locality', 'region'],
      dtype='object')

In [174]:
import numpy as np
from math import radians, cos, sin, asin, sqrt

# read the drivers_location CSV file into a DataFrame 
df_drivers = pd.read_csv(raw_data + "/" + "drivers_location.csv")

# Convert a Pandas DataFrame df_drivers to a list of dictionaries
driver_dicts = df_drivers.to_dict(orient='records')

# read the shops_location CSV file into a DataFrame
df_shops = pd.read_csv(raw_data + "/" + "shops_location.csv")

# Convert a Pandas DataFrame df_shops to a list of dictionaries
shops_dicts = df_shops.to_dict(orient='records')

def haversine(lon1, lat1, lon2, lat2):
    """
    Calculate the great circle distance between two points 
    on the earth (specified in decimal degrees)
    """
    # convert decimal degrees to radians 
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])

    # haversine formula 
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a)) 
    r = 6371 # Radius of earth in kilometers. Use 3956 for miles
    return c * r

def find_closest_driver(df_drivers, df_shops, shop_name):
    # Get the latitude and longitude of the specified shop
    shop_location = df_shops.loc[df_shops['name'] == shop_name, ['latitude', 'longitude']].values.flatten()

    # Calculate the distance between each driver's location and the shop location using the Haversine formula
    distances = np.array([haversine(row['lon'], row['lat'], shop_location[1], shop_location[0]) for _, row in df_drivers.iterrows()])

    # Add the distances as a new column in the drivers DataFrame
    df_drivers['distance'] = distances

    # Sort the drivers by their distances to the shop location
    df_drivers.sort_values('distance', inplace=True)

    # Get the ID of the closest available driver to the shop location
    closest_driver_id = df_drivers.loc[(df_drivers['disponibility'] == True) & (df_drivers['distance'] > 0), 'driver_id'].values[0]

    return closest_driver_id

In [177]:
# Ask the user to input a shop name
shop_name = input("Enter a shop name: ")
closest_driver_id = find_closest_driver(df_drivers, df_shops, shop_name)
print(f'The closest available driver to {shop_name} is {closest_driver_id}')

The closest available driver to La Mayor is B402

,order_id,driver_id,restaurant_id,customer_name,customer_address,order_time,delivery_time,total_amount,order_status
0,0,702B,4b71e2a6f964a52033622de3,Customer 0,Address 0,2022-01-01 00:00:00,2022-01-01 01:00:00,24.309157,delivered
1,1,4820,4b953cc5f964a5200f9734e3,Customer 1,Address 1,2022-01-01 01:00:00,2022-01-01 02:00:00,26.688398,delivered
2,2,8E9E,4c321c9816adc9281693c19c,Customer 2,Address 2,2022-01-01 02:00:00,2022-01-01 03:00:00,36.188852,pending
3,3,5EDD,4c321c9816adc9281693c19c,Customer 3,Address 3,2022-01-01 03:00:00,2022-01-01 04:00:00,24.952057,delivered
4,4,8954,4b953cc5f964a5200f9734e3,Customer 4,Address 4,2022-01-01 04:00:00,2022-01-01 05:00:00,19.380515,delivered